.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../imgs/bg4.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .logo{
    
    width: 300px;
    height: 100px;
    position: relative;
    top: -220px;
    left: -340px;
}

.hero-section .sub-heading{
    position: relative;
    top: -150px;
    left: -640px;
    /* font-family: 'Rubik Wet Paint', cursive; */
    /* font-family: 'Pacifico', cursive;  */
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
    margin-top: 10px;
    text-align: center;
    color: rgba(0, 0, 255, 0.555);
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 300;
}
