* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	height: 100%;
	scroll-behavior: smooth;
    scrollbar-width: none;
}
body {
	position: relative;
	min-height: 100%;
    width: 100%;
	color: #555555;
	background-color:#405574ee;
	margin: 0;
	/*padding-bottom: 100px;  Same height as footer */
}
h1, h2, h3, h4, h5 {
	color: #394352;
}

.unamesec{
    text-align: right;
}
.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	background-color: #efefef00;
    cursor: pointer;
    z-index: 8;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    left: 1250px;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.collection-container{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ff7d7d;
}

.collection{
    position: relative;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
}

.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}


.content-wrapper {
	margin-top: 10px;
	background-color: crimson;
	width: 1050px;
	height: auto;
	margin:  auto;
	margin-top: 40px;
}

.content-wrapper img{
	padding: 30px;	
}

.content-wrapper-home1 {
	margin-top:0;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	width: 100%;
	height: auto;
	margin:  auto;
}

.content-wrapper-home2 {
	margin-top:0;
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
	width: 100%;
	height: auto;
	margin:  auto;
}

.content-wrapper-home3 {
	margin-top:0;
    background: linear-gradient(to right, #ff8008, #ffc837); 
	width: 100%;
	height: auto;
	margin:  auto;
}

.content-wrapper-home4 {
	margin-top:0;
    background: linear-gradient(to right, #eb3349, #f45c43); 
	width: 100%;
	height: auto;
	margin:  auto;
}

.content-wrapper-home5 {
	margin-top:0;
    background: linear-gradient(to right, #02aab0, #00cdac);
	width: 100%;
	height: auto;
	margin:  auto;
}

.content-wrapper-search{
	background: rgb(195,153,34);
    background: rgb(57,130,187);
    background: rgb(206,215,222);
    background: linear-gradient(0deg, rgba(206,215,222,1) 0%, rgba(193,234,241,1) 5%, rgba(184,207,228,1) 35%, rgba(183,210,255,1) 61%, rgba(157,239,252,1) 100%);
}